<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
    <link rel="shortcut icon" href="ftco-32x32.png">
    
    <link rel="stylesheet" href="css/custom-bs.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/bootstrap-select.min.css">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="fonts/line-icons/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/style.css">    
  </head>
  <body id="top">

  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
    

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    

    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="/">JobBoard</a></div>

          <nav class="mx-auto site-navigation">
            <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
              <li><a href="/" class="nav-link <%= activeClass == 'Home'? 'active':''%>">Home</a></li>
              <li><a href="all-jobs" class="nav-link <%= activeClass == 'All-Jobs'? 'active':''%>">All Jobs</a></li>
              <li><a href="about" class="nav-link <%= activeClass == 'About'? 'active':''%>">About</a></li>
              <% if (user_object) { %> 
                <li><a href="profile?username=<%=user_object.username%> " class="nav-link <%= activeClass == 'Profile'? 'active':''%>">Profile</a></li>
                <li><a href="my-applications?userid=<%= user_object.id %> " class="nav-link <%= activeClass == 'MyApplication'? 'active':''%>">My Applications</a></li>
                <% if (user_object.role =="admin") { %>
                  <li><a href="all-jobs-manage " class="nav-link <%= activeClass == 'Manage'? 'active':''%>">Manage Job Postings</a></li>
                  <% }   
              <% }             
              <li class="d-lg-none"><a href="post-job"><span class="mr-2">+</span> Post a Job</a></li>
              <% if (user_object) { %>
                <li class="d-lg-none"><form action="/logout" method="post" style="display: inline;">
                  <input type="submit" value="Log Out"/>
                </form></li>
              <% } else { %>
              <li class="d-lg-none"><a href="login">Log In</a></li>
              <% } %>
            </ul>
          </nav>
          
          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            <div class="ml-auto">
              <a href="post-job" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Job</a>
              <% if (user_object) { %>
                <form action="/logout" method="post" style="display: inline;">
                <input type="submit" value="Log Out" class="btn btn-danger border-width-2 d-none d-lg-inline-block">
              </form>
              <% } else { %>
                <a href="login" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log In</a>
              <% } %>
              
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
          </div>

        </div>
      </div>
    </header>

   

    